<!-- line 2  is an example of interpolation from the rooms.component class -->
<!-- <h1>Welcome to {{hotelName}}</h1> -->

<hotelInv-header></hotelInv-header>
<hotelInv-header></hotelInv-header>
<!-- <hotelInv-header></hotelInv-header>
<hotelInv-header></hotelInv-header>
<hotelInv-header></hotelInv-header>
<hotelInv-header></hotelInv-header>
<hotelInv-header></hotelInv-header> -->

<h3>{{totalBytes}}bytes loaded</h3>
<h3>{{ getError$ | async }}</h3>
<h3>Number of rooms: {{ roomsCount$ | async }}</h3>

<!-- the async | json unwrap the data for us so that we do not have to subscribe to the data -->
<!-- this way we do not have to unsubscribe from the data -->
<!-- <h6>{{rooms$ | async | json }}</h6> -->

<div class="roomsDiv" [hidden]="hideRooms">
    <!-- variables can be bound to any native tag element -->
    <!-- uses box syntax -->
    <!-- [innerText] and others...these are the similar properties that you are used to accessing via the DOM with JS
        you just need to use the squarebrackets around the JS DOM element property -->
        <h3>Number of Rooms:</h3>
        <!-- ngStyle is another directive -->
        <!-- it can be used to change an inline style on an element -->
        <!-- there is also ngClass which can be used to change the class of an element -->
        <!-- these 2 directives do not have an * because they do not add/remove elements from the DOM -->
        <div [ngStyle]="{'color': rooms.availableRooms ? 'steelblue' : 'red'}" [innerText]="numberOfRooms"></div>
    </div>
    <!-- event binding -->
    <!-- uses banana syntax -->
    <!-- toggle() is the function, it is written in the component class section -->
    <!-- in this case toggle() changes the value of "hidden" for the value of the roomDiv -->
    <button (click)="toggle()">Toggle</button>

    <!-- this receives data from the child component - rooms-list.component - and displays the selected room in a json format -->
    <div *ngIf="selectedRoom">
        {{ selectedRoom | json }}
    </div>

    <div>
        <button (click)="addRoom()">Add Room</button>
    </div>

<!-- Optional Chaining -->
<!-- the ? serves to check if availableRooms exists for the object at all -->
<!-- {{ rooms?.availableRooms ?? 'No rooms'}} -->

<!-- *ngIf is an example of an Angular Directive.  It behaves like an if statement in TS -->
<!-- the * lets you know that this is a structural type of directive -->
<!-- something that modifies the DOM, they will add to or subtract an element from the DOM-->
<!-- <div *ngIf="rooms.availableRooms > 0; else elseBlock">
    
    <hotelInv-rooms-list [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)"></hotelInv-rooms-list>
</div>

<ng-template #elseBlock>
    No Rooms
</ng-template> -->

<!-- the following code is to demonstrate the use of ngOnDestroy -->
<div *ngIf="hideRooms">
    <div *ngIf="rooms$ | async as rooms; else elseBlock">
    <hotelInv-rooms-list [rooms]="rooms" [title]="title" (selectedRoom)="selectRoom($event)"></hotelInv-rooms-list>
</div>

<ng-template #elseBlock>
    No Rooms
</ng-template>
</div>


<!-- used for CRUD operations -->
<button (click)="editRoom()">Edit Room</button>
<button (click)="deleteRoom()">Delete Room</button>

